body{
    display: flex;
    justify-content: center;
}

.container{
    flex-direction: column;
    width: 70%;
}

.container #div1{
    display: flex;
    justify-content: center;
}

.container #div2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#div2 > div{
    width: 150px;
    height: 20px;
    background-color: lightgray;
    font-weight: 600;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
}

#html-skill{
    height: inherit;
    background-color: aqua;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}


#css-skill{
    height: inherit;
    background-color: lightcoral;
    width: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}

#javascript-skill{
    height: inherit;
    background-color: lightblue;
    width: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}


#react-skill{
    height: inherit;
    background-color: lightgoldenrodyellow;
    width: 95%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}

#node-js-skill{
    height: inherit;
    background-color: lightpink;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}
#mongodb-skill{
    height: inherit;
    background-color: lightyellow;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}

#express-skill{
    height: inherit;
    background-color: lightcyan;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}
#hld-skill{
    height: inherit;
    background-color: rgb(61, 224, 224);
    width: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}
#lld-skill{
    height: inherit;
    background-color: rgb(27, 180, 180);
    width: 95%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}

#dsa-skill{
    height: inherit;
    background-color: rgb(12, 107, 107);
    width: 95%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}