
.container{
    width: 600px;
    height: 500px;
    display: flex;
    background-color: lightblue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.container > div{
    height: 100px;
    width: 100px;
}

#box1{
    background-color: red;
}

#box2{
    background-color: blue;
}

#box3{
    background-color: teal;
}