.container{
    height: 75vh;
    width: 75vw;
    background-color: teal;
    display: flex;
}

.container div{
    height: 200px;
    width: 200px;
}

#div1{
    background-color:cyan;
}

#div2{
    background-color: yellow;
}

#div3{
    background-color: red;
}

#div4{
    background-color: green;
}