.container{
    height: 75vh;
    width: 75vw;
    background-color: teal;
    display: flex;
    flex-direction: row;
}

.container div{
    height: 200px;
    width: 200px;
}

#div1{
    background-color:cyan;
    order: 4;
}

#div2{
    background-color: yellow;
    order: 0;
}

#div3{
    background-color: red;
    order: 1;
}

#div4{
    background-color: green;
    order: 3;
}